<p>roles works!</p>




<div class="row">
  <div class="col-3">
    <p>{{firstName}}</p>
  </div>
  <div class="col-3">
    <p>{{version}}</p>
  </div>

  <div class="col-3">
    <p>{{currentDate}}</p>
  </div>
  <div class="col-3">
    <p>{{state}}</p>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <input [type]="text" [value]="firstName" class="form-control"/>
  </div>
  <div class="col-3">
    <input [type]="text" [(ngModel)]="firstName" class="form-control" />
  </div>
  <div class="col-3">
    <input [type]="checkbox"/>
  </div>
  <div class="col-3">
    <select [(ngModel)]="state">
      <option value="DHAKA">DHAKA</option>
      <option value="Rajshahi">Rajshahi</option>
      <option value="Khulna">Khulna</option>
    </select>
  </div>

</div>

<div class="row">
  <div class="col-3">
    <button class="btn btn-success" (click)="showWelcomeAlert()"> Show Alert</button>
  </div>
  <div class="col-3">
    <button class="btn btn-success" (click)="showMessage('Recat Tutorial')">React Tutorial</button>
  </div>
  <div class="col-3">
    <button class="btn btn-success" (click)="showMessage('Dot Net Tutorial')">Dot Net Tutorial</button>
  </div>
</div>
<hr/><br/>
<div class="row">
  <div class="col-4">
    <ul>
      <li *ngFor="let r of roleList">{{r.role}}</li>
    </ul>
  </div>
  <div class="col-4">
    <select name="select" id="select">
      <option *ngFor="let r of roleList" [value]="r.roleId">{{r.role}}</option>
    </select>
  </div>
  <div class="col-4">
    <button class="btn btn-warning mx-2"
    *ngFor="let r of roleList">{{r.role}}</button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>
            Sr No
          </th>
          <th>
            Role Name
          </th>
        </tr>

      </thead>
      <tbody>
        <tr *ngFor="let r of roleList; let idx = index">
          <td>
            {{idx}}
          </td>
          <td>
            {{r.role}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
