<app-alert-component [alertType]="'success'" [alertMessage]="'Welcome to Project component'"></app-alert-component>
<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        Project List - {{firstName()}}
        <button class="btn btn-danger" (click)="changFName()">Change Name</button>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>
                    Sr No
                  </th>
                  <th>
                    Person Name
                  </th>
                  <th>
                    Company Name
                  </th>
                  <th>
                    Contact No
                  </th>
                  <th>
                    Start Date
                  </th>
                  <th>
                    Completed Date
                  </th>
                  <th>
                    Action
                  </th>
                </tr>

              </thead>
              <tbody>
                @for (item of cProjects(); track $index) {
                  <tr>
                    <td>{{$index+1}}</td>
                    <td>{{item.contactPerson}}</td>
                    <td>{{item.companyName}}</td>
                    <td>{{item.contactPersonContactNo}}</td>
                    <td>{{item.startDate | date:"dd-MMM-yyyy"}}</td>
                    <td>{{item.completedDate| date:"dd-MMM-yyyy"}}</td>
                    <td>
                      <button class="btn btn-primary">Edit</button>
                      <button class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
                }

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
        New Project
      </div>
      <div class="card-body">
        <form [formGroup]="projectForm">
          <div class="row">
            <div class="col-6">
              <label for="">Project Name</label>
              <input type="text" formControlName="projectName" class="form-control" />
              @if (projectForm.controls['projectName'].touched) {
              <div class="text-danger">
                @if (projectForm.controls['projectName'].errors?.['required']) {
                <span>This is required.</span>
                }
                @if(projectForm.controls['projectName'].errors?.['minlength']){
                <span>Minimum 4 characters required</span>
                }
              </div>
              }



            </div>
            <div class="col-6">
              <label for="">Start Date</label>
              <input type="date" class="form-control" formControlName="startDate" />

            </div>
            <div class="col-6">
              <label for="">Expected End Date</label>
              <input type="date" class="form-control" formControlName="expectedEndDate" />
            </div>
            <div class="col-6">
              <label for="">Contact Person</label>
              <input type="text" class="form-control" formControlName="contactPerson" />
            </div>
            <div class="col-6">
              <label for="">Contact Mobile</label>
              <input type="text" class="form-control" formControlName="contactPersonContactNo" />
            </div>
            <div class="col-6">
              <label for="">Contact Email</label>
              <input type="text" class="form-control" formControlName="contactPersonEmailId" />
            </div>
            <div class="col-6">
              <label for="">Total Employee Count</label>
              <input type="text" class="form-control" formControlName="totalEmpWorking" />
            </div>
            <div class="col-6">
              <label for="">Project Costing</label>
              <input type="text" class="form-control" formControlName="projectCost" />
            </div>
            <div class="col-12">
              <label for="">Project Description</label>
              <textarea class="form-control" formControlName="projectDetails"></textarea>
            </div>




            <div class="col-6">
              <label for="">Select Client</label>
              <select class="form-control" formControlName="clientId">
                <option value="">Select Client</option>
                @for (item of clientList; track $index) {
                <option [value]="item.clientId">
                  {{item.companyName}}
                </option>
                }
              </select>
            </div>
            <div class="col-6">
              <label for="">Lead By</label>
              <select class="form-control" formControlName="leadByEmpId">
                <option value="">Select Employee</option>
                @for (item of employeeList; track $index) {
                <option [value]="item.empId">{{item.empName }}-{{item.empCode}}</option>
                }
              </select>
            </div>
          </div>


          <div class="row pt-2">
            <div class="col-6 text-center">
              <button class="btn btn-secondary">Reset</button>
            </div>
            <div class="col-6 text-center">
              <button class="btn btn-success" [disabled]="!projectForm.valid"
              (click)="onSaveProject()">
                Save Project
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
